@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@500&display=swap');

.title{
    font-family : 'Arima Madurai', cursive ;
    font-weight: bold;
}

.Box{
    margin: 0 auto;
    line-height: normal;
}

.Hiravideo{
    top: 0;
    left: 0;
    z-index: -2;
    opacity: 0.8;
}
.headings{
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
