@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@500&display=swap');
h1{
    padding-top:2%;
}
.text{
    font-family : 'Arima Madurai', cursive ;
    font-size: 20px;
 
}
.header{
    font-size:25px;
}
.points {
    font-family : 'Arima Madurai', cursive ;
    
}
.pie{
    padding-bottom:2%;
}
.graph{
    padding:2%;
    width: fit-content;
    height: fit-content;
 
}
.free{
   
    padding:2%;
    width: fit-content;
    height:max-content;
}
.body{
    padding: 5%;
}
.MuiButton-label{
    font-family: 'Arima Madurai', cursive ;
    font-size: 15px;
}
h2{
    padding:2%;
}
.cards{
    padding:2%;
}
.boxes{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.btn{
    width: fit-content;
}
.space{
    padding-top: 2%;
}
.icon{
    margin-left:10%;
}
.heading{
    display: grid;
}