@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@500&display=swap');

.text{
    font-family : 'Arima Madurai', cursive ;
    font-size: 25px;
}
.btn{
    padding-bottom: 3%;
}
.profile{
    padding-top:2%;
    display: inline-grid;
}
.info{
    display: flex;
    padding:5%;
    text-align: center;
    flex-direction: column;
    align-items: center;
}
.user{
    grid-column:2;
    grid-row:1;
}
.avatar{
    order:-1;
}
.user-info{
    display:block;
    
}
.user{
   display:block;
   padding-left:5%;
   padding-top:5%;
}
.welcome{
    font-family: 'Arima Madurai', cursive;
    height:fit-content;   
}
.products{
    display:inline-grid;
    padding:5%;
   
}
.donations{
    grid-column: 1;
    grid-row:1;
    padding-right:5%;
   
}
.recycled{
    grid-column: 2;
    grid-row:1;
    padding-left:5%;
    
}
.number{
    font-family : 'Arima Madurai', cursive ;
}
.MuiButton-label{
    font-family: 'Arima Madurai', cursive ;
    font-size: 15px;
}
.settings{
    padding-bottom:10%;
   
}

.lighter{
    font-weight: lighter;
}
.btns{
    padding-bottom: 5%;
}