@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@500&display=swap');

.text{
    font-family : 'Arima Madurai', cursive ;
}

.navBar{
    display: flex;
    margin-bottom: 0;
    width: 60%;
}

.navbar-titles{
    list-style-type: none;
    display: flex;
    
    justify-content: space-between;

    font-family: 'Arima Madurai', cursive ;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    margin-top: 0px;
    padding: 10px;
    margin-bottom: 0px;
    
    text-align: center;
    letter-spacing: -0.015em;
    
    color: #000000;
    

}
.navbar-titles:visited{
    text-decoration: none;
    color:black;

}

.navbar-titles:link{
    text-decoration: none;
    color:black;    
}

Button{
    font-family: 'Arima Madurai', cursive ;
    font-size: 27px;
    background: #231f1f;
    border: 1px solid #000000;
    box-sizing: border-box;

}

.login{
    font-family: 'Arima Madurai', cursive ;
    font-size: 27px;
    border: 1px solid #000000;
    background: #FFFFFF;
    box-sizing: border-box;
    padding: 3px 3px;
     margin: 0 auto;
     height: 50%;

}
.register{
    font-family: 'Arima Madurai', cursive ;
    font-size: 27px;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    padding-top: 25%;
    height: 50%;
    align-content: center;
}

Button{
    margin-top: 50%;
}