
.text{
    font-family : 'Arima Madurai', cursive ;
    text-align: center;
}

.blue{
    font-family : 'Arima Madurai', cursive ;
    text-align: center;
    margin-left: 0px;
    color: #3f51b5;
    margin-right: 95px;
}
