.Tips{
    width: 100%
}

.tipsTitle{
    height: 137.94px;
}

.tipsTitle h2{
    
    font-family:Arima Madurai;
    font-style: normal;
    font-weight: normal;
    font-size: 45px;
    /* line-height: 147px; */
    padding-top: 30px;
    text-align: center;
    letter-spacing: -0.015em;
    padding-bottom: 0;
    
}

.tipsDescription p{
    /* width: 1035px; */
    /* height: 135px;
    left: 211px;
    top: 250px; */

    font-family: Arima Madurai;
    font-style: normal;
    font-weight:normal;
    font-size: 20px;
    /* line-height: 39px; */
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.015em;
    padding: 0px;

    color: #020202;

}

.tipsArea{
    justify-content: center;
}

h4{
    font-family:"Arima Madurai";
}

.list{
    font-family:"Arima Madurai";
    /* display:flex; */
    text-align: start;
    /* margin: 0px 0px 3px 0px; */
 
  

}

.list li{
    margin-bottom: 13px;
}

/* .readMore{
    padding-left: 34%;
    padding-bottom: 34;
} */

a{
    font-family: "Arima Madurai";
    text-decoration: none;
    color: black;
}

a:visited{
    text-decoration: none;
    color:black
}

